body {
  background-color: black;
  color: whitesmoke;
  width: 900px;
  margin: 0 auto 0 auto;
  font-family: "Times New Roman", Times, serif;
}
input[type="text"],
input[type="password"],
input[type="email"] {
  background-color: black;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid whitesmoke;
  display: block;
  width: 100%;
  height: 40px;
  padding: 5px 3px;
  outline: none;
  color: antiquewhite;
  font-size: 18px;

  margin: 20px 0;
}
input::placeholder {
  color: antiquewhite;
  font-size: 18px;
  font-family: "Times New Roman", Times, serif;
}
h1 {
  font-size: 50px;
}
label {
  display: inline-flex;
  height: 40px;
  align-items: center;
  font-size: 25px;
}
input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  display: inline-block;
  border-radius: 50%;
  border: 2px solid wheat;
  margin-right: 10px;
}
input[type="radio"]:checked {
  background-color: lightblue;
}
input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  outline: none;
  background: black;
  color: white;
  border: 1px solid wheat;
  margin-right: 10px;
}
input[type="checkbox"]:checked::before {
  content: "\2713";
  font-size: 18px;
  color: white;
  position: absolute;
  top: 76.55%;
  left: 21.65%;
  transform: translate(-50%, -50%);
}
button{
    margin-top: 20px;
    width: 200px;
    height: 40px;
    border-radius: 0%;
}